fastapi
uvicorn
google-generativeai
chromadb
pypdf
python-multipart
pydantic
requests
python-dotenv
langchain-google-genai
langchain-community
langchain
langchain-text-splitters
reportlab
scikit-learn
pandas
joblib
pyyaml
fairlearn
mlflow
